
 @media (min-width: 850px)  {
    .btnDownload{

        font-size: 15px;
        
        font-weight: 700;
        border-radius: 10px;
        box-shadow:  1px 1px 0px 1px   rgb(216, 222, 226);
     }
     .btnDownload:hover{
         box-shadow: none;
         transition: .3s;
     
     }
    
  }

  .bg-indigo-7{
    background-color: #06022a;
  }
  .bg-indigo-70{
    background-color: #4232dd;
  }
  .bg-indigo-7000{
    background-color: #13574b;
  }
